<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.1/fh-3.3.1/r-2.4.0/sc-2.0.7/datatables.min.css" />
<table id="example3" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Hshd_num</th>
            <th>Loyalty_flag</th>
            <th>Age_range</th>
            <th>Marital_status</th>
            <th>Income_range</th>
            <th>Homeower_desc</th>
            <th>Hshd_composition</th>
            <th>Hshd_size</th>
            <th>children</th>
        </tr>
    </thead>
</table>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.1/fh-3.3.1/r-2.4.0/sc-2.0.7/datatables.min.js"></script>
<script>
    $('#example3').DataTable({
        ajax: {
            type: "POST",
            url: "/Home/HouseholdTable",
            dataSrc: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        },
        columns: [{ 'data': 'hshd_num' },
        { 'data': 'loyalty_flag' },
        { 'data': 'age_range' },
        { 'data': 'marital_status' },
        { 'data': 'income_range' },
        { 'data': 'homeower_desc' },
        { 'data': 'hshd_composition' },
        { 'data': 'hshd_size' },
        { 'data': 'children' }
        ],
        scrollX: true,
        "lengthChange": false,
        "searching": false,
        "pageLength": 17,
        responsive: false,
    });
</script>