
<div class="tblClass">
    <br />
    <div style="width:100%; overflow:auto; overflow-x:hidden !important;">
        <table id="householdDatatable" class="table table-striped table-bordered dt-responsive nowrap"  cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Hshd_num</th>
                    <th>Loyalty_flag</th>
                    <th>Age_range</th>
                    <th>Marital_status</th>
                    <th>Income_range</th>
                    <th>Homeower_desc</th>
                    <th>Hshd_composition</th>
                    <th>Hshd_size</th>
                    <th>children</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
