<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.1/fh-3.3.1/r-2.4.0/sc-2.0.7/datatables.min.css" />
<table id="example2" class="display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>Product_num</th>
            <th>Department</th>
            <th>Commodity</th>
            <th>Brand_type</th>
            <th>Natural_organic_flag</th>
        </tr>
    </thead>
</table>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/dt-1.13.1/fh-3.3.1/r-2.4.0/sc-2.0.7/datatables.min.js"></script>
<script>
    $('#example2').DataTable({
        ajax: {
            type: "POST",
            url: "/Home/ProductTable",
            dataSrc: '',
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        },
        columns: [
            { "data": "product_num" },
            { "data": "department" },
            { "data": "commodity" },
            { "data": "brand_type" },
            { "data": "natural_organic_flag" }
        ],
        scrollX: true,
        "lengthChange": false,
        "searching": false,
        "pageLength": 17,
        responsive: false,
    });
</script>

