
<div class="tblClass">
    <br />
    <div style="width:100%; overflow:auto auto;">
        <table id="productDatatable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Product_num</th>
                    <th>Department</th>
                    <th>Commodity</th>
                    <th>Brand_type</th>
                    <th>Natural_organic_flag</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/Home/ProductTable",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
        }).done(function (data) {
            $('#productDatatable').dataTable({
                "bFilter": false,
                'iDisplayLength': 18,
                "bLengthChange": false,
                scrollX: true,
                data: data,
                columns: [
                    { "data": "product_num" },
                    { "data": "department" },
                    { "data": "commodity" },
                    { "data": "brand_type" },
                    { "data": "natural_organic_flag" }
                ]
            })
        })
    });
</script>