@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <h1 class="document-header">Kroger Data Summery</h1>
    <div class="row">
        <div class="col">
            <canvas id="myChart"></canvas>
        </div>
        <div class="col">
            <canvas id="GroupChart"></canvas>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <canvas id="myLineChart"></canvas>
        </div>
        <div class="col">
            <h1 style="text-align: center;"> Data Summery</h1>
            <div class="row align-items-stretch">
                <div class="c-dashboardInfo col">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">3 Years Household Total Spending</h4>
                        <span class="hind-font caption-12 c-dashboardInfo__count" style="font-size: 28px;">$3,526,463.52</span>
                    </div>
                </div>
                <div class="c-dashboardInfo col">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Total Unit Sold</h4>
                        <span class="hind-font caption-12 c-dashboardInfo__count">1,194,009</span>
                    </div>
                </div>
                <div class="c-dashboardInfo col ">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">West Region Total Sale</h4>
                        <span class="hind-font caption-12 c-dashboardInfo__count" style="font-size: 30px;">$879,393.17</span>
                    </div>
                </div>
            </div>
            <div class="row align-items-stretch">
                <div class="c-dashboardInfo col">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">South Region Total Sale</h4>
                        <span class="hind-font caption-12 c-dashboardInfo__count" style="font-size: 30px;">$827,323.35</span>
                    </div>
                </div>
                <div class="c-dashboardInfo col">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">East Region Total Sale</h4>
                        <span class="hind-font caption-12 c-dashboardInfo__count" style="font-size: 30px;">$102,8122.78</span>
                    </div>
                </div>
                <div class="c-dashboardInfo col">
                    <div class="wrap">
                        <h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">Central Region Total Sale</h4>
                        <span class="hind-font caption-12 c-dashboardInfo__count " style="font-size: 30px;">$791,624.22</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>   